node_modules/
.expo/
dist/
web-build/
*.jks
*.keystore
*.p8
*.p12
*.mobileprovision
*.orig.*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
.DS_Store
*.pem

# Expo Prebuild artifacts
/android
/ios
